    @tailwind base;
    @tailwind components;
    @tailwind utilities;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        overflow-x: hidden;
        background-color: #373737;
    }
    
    .container-bkg {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    
    .container-home-desktop-response {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .left-side-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .default-color {
        color: #9B3535;
        background-color: #EB6161;
    }
    
    .profile-img {
        border-radius: 5px;
    }
    
    .user-info-container {
        width: 25rem;
        padding: 30px 20px;
        border-radius: 10px;
        display: flex;
        justify-content: start;
    }
    
    .add-shadow {
        border-bottom: 7px solid #9B3535;
    }
    
    .user-info {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .user-info p {
        color: white;
        font-weight: 600;
    }
    
    .buttons-container {
        width: 25rem;
        padding: 50px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .play-btn:first-child {
        margin-bottom: 20px;
    }
    
    .play-btn {
        width: 300px;
        padding: 15px;
        font-size: 1.4em;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px #B6B6B6;
    }
    
    .play-btn:active {
        box-shadow: none;
        transform: translateY(5px);
    }
    
    .board {
        display: flex;
        width: 600px;
        height: 600px;
        background-color: black;
        flex-wrap: wrap;
    }
    
    .square {
        width: 75px;
        height: 75px;
    }
    
    .square-red {
        background-color: #EB6161;
    }
    
    .square-white {
        background-color: #DADADA;
    }
    
    .logo-container img {
        width: 8em !important;
        margin-bottom: 0;
    }
    
    .sing-container {
        width: 40em;
    }
    
    .container-form {
        padding: 3em 0 1em 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2em 0 !important;
    }
    
    .sub-text-singing-singup {
        color: white;
        font-weight: 800;
        font-size: 1.5em;
    }
    
    .input-singin-and-singup {
        width: 30em;
        background-color: transparent;
        border-bottom: 2px solid white;
        color: white !important;
        margin-bottom: 2em;
        font-weight: 500;
    }
    
    .sing-btn {
        /* box-shadow: 0px 5px #9B3535; */
        border-radius: 10px;
        padding: .5em 0;
        font-size: 1.4em;
        font-weight: bold;
        color: white;
    }
    
    .sing-btn:active {
        box-shadow: none !important;
        transform: translateY(5px);
    }
    
    .toSingin-container {
        width: 30em;
    }
    
    .back-btn {
        position: absolute;
        left: 0;
        margin-left: 3em;
        margin-top: 2em;
    }
    
    @media (max-width:768px) {
        .logo-container {
            margin-top: 5em;
        }
        .sub-text-singing-singup {
            font-size: 1.2em;
        }
        .sing-container,
        .input-singin-and-singup {
            width: 75vw;
        }
        .container-form {
            background-color: transparent;
            border: 0;
        }
        .toSingin-container {
            display: none;
        }
        body {
            overflow-y: scroll;
        }
        .logout {
            width: 20px;
            height: 20px;
        }
        .user-info {
            width: 75%;
            flex-direction: row;
            justify-content: space-between;
        }
        .buttons-container {
            width: 100vw;
        }
        .user-info-container-cellphone {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .desktop-mode {
            display: none;
        }
        .board {
            margin-top: 2em;
            margin-bottom: 2em;
            width: 100vw;
            height: 100vw;
        }
        .square {
            width: calc(100vw/8);
            height: calc(100vw/8);
        }
        .profile-img {
            width: 50px;
            height: 50px;
        }
    }
    
    @media (min-width:769px) {
        .cellphone-singin-btn-container {
            display: none;
        }
        .phone-mode {
            display: none;
        }
        .board {
            width: 400px;
            height: 400px;
        }
        .square {
            width: 50px;
            height: 50px;
        }
        .play-btn {
            width: 12em;
            padding: 15px;
            font-size: 1em;
        }
        .buttons-container {
            width: 17rem;
            padding: 20px 20px;
        }
        .user-info-container {
            width: 17rem;
            padding: 30px 20px;
        }
        .logo-img {
            width: 10em !important;
        }
    }
    
    @media (min-width:1024px) {
        .board {
            width: 600px;
            height: 600px;
        }
        .square {
            width: 75px;
            height: 75px;
        }
        .play-btn {
            width: 300px;
            padding: 15px;
            font-size: 1.3em;
        }
        .buttons-container {
            width: 25rem;
            padding: 50px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .user-info-container {
            width: 25rem;
            padding: 30px 20px;
        }
        .logo-img {
            width: 200px;
        }
    }
    
    @media (min-width:1280px) {}
    
    @media (min-width:1536) {}